        body {
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
        }

        h1 {
            color: #343a40;
            text-align: center;
            font-size: 2rem;
            margin-top: 30px;
            margin-bottom: 20px;
        }

        .nav-pills {
            margin-bottom: 30px;
            border-bottom: 1px solid #dee2e6;
            padding-bottom: 10px;
        }

        .nav-pills .nav-link.active {
            background-color: #6610f2;
        }
        
        .nav-pills .nav-link {
            color: #6610f2;
        }

        h2 {
            font-size: 1.5rem;
            color: #343a40; /* Texto oscuro estándar */
            margin-bottom: 20px;
            
            /* CAMBIO: LÍNEA NEGRA */
            border-bottom: 3px solid #000; 
            
            padding-bottom: 5px;
        }

        label {
            font-weight: 600;
            color: #495057;
        }

        form {
            padding-bottom: 60px;
        }

        .btn {
            text-transform: uppercase;
            font-size: 0.9rem;
            font-weight: bold;
        }

        .btn-primary {
            background-color: #6610f2;
            border-color: #6610f2;
        }
        
        .btn-primary:hover {
            background-color: #520dc2;
            border-color: #520dc2;
        }

        .form-control:focus, .form-select:focus {
            border-color: #6610f2;
            box-shadow: 0 0 0 0.25rem rgba(102, 16, 242, 0.25);
        }